# Tugas Besar IF3170 - Aplikasi Web Prediksi Income Per Tahun

### Vigor Akbar - 13515031 (K-01)
### Muhamad Irfan Maulana - 13515037 (K-01)
### Luthfi Fadillah - 13515072 (K-03)
### Aya Aurora - 13515098 (K-02)
### Iftitakhul Zakiah - 13515114 (K-03)

--------------

# Reading External Files

In [18]:
#Reading External Files
import pandas as pd

#Reading column names
cencus_income_names=["age",
                     "workclass",
                     "fnlwgt",
                     "education",
                     "education-num",
                     "marital-status",
                     "occupation",
                     "relationship",
                     "race",
                     "sex",
                     "capital-gain",
                     "capital-loss",
                     "hours-per-week",
                     "native-country"]

#Reading data attribute from external file
cencus_income_learning_data = pd.read_csv("CencusIncome.data.txt",
                                 header=None,
                                 na_values=["?"],
                                 skipinitialspace=True,
                                 usecols=list(range(0,14)))
print("Learning Data")
print(cencus_income_learning_data)
print()

#Reading data target from external file
cencus_income_learning_target = pd.read_csv("CencusIncome.data.txt",
                                   header=None,
                                   na_values=["?"],
                                   skipinitialspace=True,
                                   usecols=[14])
print("Learning Target")
print(cencus_income_learning_target)
print()

#reading test atrribute from external file
cencus_income_test_data = pd.read_csv("CencusIncome.test.txt",
                                      header=None,
                                      na_values=["?"],
                                      skipinitialspace=True,
                                      usecols=list(range(0,14)),
                                      comment='|')
print("Test Data")
print(cencus_income_test_data)

#Reading data target from external file
cencus_income_test_target = pd.read_csv("CencusIncome.test.txt",
                                        header=None,
                                        na_values=["?"],
                                        skipinitialspace=True,
                                        usecols=[14],
                                        comment='|')
print("Test Target")
print(cencus_income_test_target)
print()

#Convert to numpy array
cencus_income_learning_data = cencus_income_learning_data.values
cencus_income_learning_target = cencus_income_learning_target.values
cencus_income_test_data = cencus_income_test_data.values
cencus_income_test_target = cencus_income_test_target.values
print ("Convert Done!")

#print numpy array
print()
print(cencus_income_learning_data)
print()
print(cencus_income_learning_target)
print()
print(cencus_income_test_data)
print()
print(cencus_income_test_target)

Learning Data
       0                 1       2             3   4                      5   \
0      39         State-gov   77516     Bachelors  13          Never-married
1      50  Self-emp-not-inc   83311     Bachelors  13     Married-civ-spouse
2      38           Private  215646       HS-grad   9               Divorced
3      53           Private  234721          11th   7     Married-civ-spouse
4      28           Private  338409     Bachelors  13     Married-civ-spouse
5      37           Private  284582       Masters  14     Married-civ-spouse
6      49           Private  160187           9th   5  Married-spouse-absent
7      52  Self-emp-not-inc  209642       HS-grad   9     Married-civ-spouse
8      31           Private   45781       Masters  14          Never-married
9      42           Private  159449     Bachelors  13     Married-civ-spouse
10     37           Private  280464  Some-college  10     Married-civ-spouse
11     30         State-gov  141297     Bachelors  13     Married-civ-spouse
12     23           Private  122272     Bachelors  13          Never-married
13     32           Private  205019    Assoc-acdm  12          Never-married
14     40           Private  121772     Assoc-voc  11     Married-civ-spouse
15     34           Private  245487       7th-8th   4     Married-civ-spouse
16     25  Self-emp-not-inc  176756       HS-grad   9          Never-married
17     32           Private  186824       HS-grad   9          Never-married
18     38           Private   28887          11th   7     Married-civ-spouse
19     43  Self-emp-not-inc  292175       Masters  14               Divorced
20     40           Private  193524     Doctorate  16     Married-civ-spouse
21     54           Private  302146       HS-grad   9              Separated
22     35       Federal-gov   76845           9th   5     Married-civ-spouse
23     43           Private  117037          11th   7     Married-civ-spouse
24     59           Private  109015       HS-grad   9               Divorced
25     56         Local-gov  216851     Bachelors  13     Married-civ-spouse
26     19           Private  168294       HS-grad   9          Never-married
27     54               NaN  180211  Some-college  10     Married-civ-spouse
28     39           Private  367260       HS-grad   9               Divorced
29     49           Private  193366       HS-grad   9     Married-civ-spouse
...    ..               ...     ...           ...  ..                    ...
32531  30               NaN   33811     Bachelors  13          Never-married
32532  34           Private  204461     Doctorate  16     Married-civ-spouse
32533  54           Private  337992     Bachelors  13     Married-civ-spouse
32534  37           Private  179137  Some-college  10               Divorced
32535  22           Private  325033          12th   8          Never-married
32536  34           Private  160216     Bachelors  13          Never-married
32537  30           Private  345898       HS-grad   9          Never-married
32538  38           Private  139180     Bachelors  13               Divorced
32539  71               NaN  287372     Doctorate  16     Married-civ-spouse
32540  45         State-gov  252208       HS-grad   9              Separated
32541  41               NaN  202822       HS-grad   9              Separated
32542  72               NaN  129912       HS-grad   9     Married-civ-spouse
32543  45         Local-gov  119199    Assoc-acdm  12               Divorced
32544  31           Private  199655       Masters  14               Divorced
32545  39         Local-gov  111499    Assoc-acdm  12     Married-civ-spouse
32546  37           Private  198216    Assoc-acdm  12               Divorced
32547  43           Private  260761       HS-grad   9     Married-civ-spouse
32548  65  Self-emp-not-inc   99359   Prof-school  15          Never-married
32549  43         State-gov  255835  Some-college  10               Divorced
32550  43  Self-emp-not-inc   27242  Some-college  10     Married-civ-spouse
32551  32           Private   34066          10th   6     Married-civ-spouse
32552  43           Private   84661     Assoc-voc  11     Married-civ-spouse
32553  32           Private  116138       Masters  14          Never-married
32554  53           Private  321865       Masters  14     Married-civ-spouse
32555  22           Private  310152  Some-college  10          Never-married
32556  27           Private  257302    Assoc-acdm  12     Married-civ-spouse
32557  40           Private  154374       HS-grad   9     Married-civ-spouse
32558  58           Private  151910       HS-grad   9                Widowed
32559  22           Private  201490       HS-grad   9          Never-married
32560  52      Self-emp-inc  287927       HS-grad   9     Married-civ-spouse

                      6               7                   8       9      10  \
0           Adm-clerical   Not-in-family               White    Male   2174
1        Exec-managerial         Husband               White    Male      0
2      Handlers-cleaners   Not-in-family               White    Male      0
3      Handlers-cleaners         Husband               Black    Male      0
4         Prof-specialty            Wife               Black  Female      0
5        Exec-managerial            Wife               White  Female      0
6          Other-service   Not-in-family               Black  Female      0
7        Exec-managerial         Husband               White    Male      0
8         Prof-specialty   Not-in-family               White  Female  14084
9        Exec-managerial         Husband               White    Male   5178
10       Exec-managerial         Husband               Black    Male      0
11        Prof-specialty         Husband  Asian-Pac-Islander    Male      0
12          Adm-clerical       Own-child               White  Female      0
13                 Sales   Not-in-family               Black    Male      0
14          Craft-repair         Husband  Asian-Pac-Islander    Male      0
15      Transport-moving         Husband  Amer-Indian-Eskimo    Male      0
16       Farming-fishing       Own-child               White    Male      0
17     Machine-op-inspct       Unmarried               White    Male      0
18                 Sales         Husband               White    Male      0
19       Exec-managerial       Unmarried               White  Female      0
20        Prof-specialty         Husband               White    Male      0
21         Other-service       Unmarried               Black  Female      0
22       Farming-fishing         Husband               Black    Male      0
23      Transport-moving         Husband               White    Male      0
24          Tech-support       Unmarried               White  Female      0
25          Tech-support         Husband               White    Male      0
26          Craft-repair       Own-child               White    Male      0
27                   NaN         Husband  Asian-Pac-Islander    Male      0
28       Exec-managerial   Not-in-family               White    Male      0
29          Craft-repair         Husband               White    Male      0
...                  ...             ...                 ...     ...    ...
32531                NaN   Not-in-family  Asian-Pac-Islander  Female      0
32532     Prof-specialty         Husband               White    Male      0
32533    Exec-managerial         Husband  Asian-Pac-Islander    Male      0
32534       Adm-clerical       Unmarried               White  Female      0
32535    Protective-serv       Own-child               Black    Male      0
32536    Exec-managerial   Not-in-family               White  Female      0
32537       Craft-repair   Not-in-family               Black    Male      0
32538     Prof-specialty       Unmarried               Black  Female  15020
32539                NaN         Husband               White    Male      0
32540       Adm-clerical       Own-child               White  Female      0
32541                NaN   Not-in-family               Black  Female      0
32542                NaN         Husband               White    Male      0
32543     Prof-specialty       Unmarried               White  Female      0
32544      Other-service   Not-in-family               Other  Female      0
32545       Adm-clerical            Wife               White  Female      0
32546       Tech-support   Not-in-family               White  Female      0
32547  Machine-op-inspct         Husband               White    Male      0
32548     Prof-specialty   Not-in-family               White    Male   1086
32549       Adm-clerical  Other-relative               White  Female      0
32550       Craft-repair         Husband               White    Male      0
32551  Handlers-cleaners         Husband  Amer-Indian-Eskimo    Male      0
32552              Sales         Husband               White    Male      0
32553       Tech-support   Not-in-family  Asian-Pac-Islander    Male      0
32554    Exec-managerial         Husband               White    Male      0
32555    Protective-serv   Not-in-family               White    Male      0
32556       Tech-support            Wife               White  Female      0
32557  Machine-op-inspct         Husband               White    Male      0
32558       Adm-clerical       Unmarried               White  Female      0
32559       Adm-clerical       Own-child               White    Male      0
32560    Exec-managerial            Wife               White  Female  15024

         11  12             13
0         0  40  United-States
1         0  13  United-States
2         0  40  United-States
3         0  40  United-States
4         0  40           Cuba
5         0  40  United-States
6         0  16        Jamaica
7         0  45  United-States
8         0  50  United-States
9         0  40  United-States
10        0  80  United-States
11        0  40          India
12        0  30  United-States
13        0  50  United-States
14        0  40            NaN
15        0  45         Mexico
16        0  35  United-States
17        0  40  United-States
18        0  50  United-States
19        0  45  United-States
20        0  60  United-States
21        0  20  United-States
22        0  40  United-States
23     2042  40  United-States
24        0  40  United-States
25        0  40  United-States
26        0  40  United-States
27        0  60          South
28        0  80  United-States
29        0  40  United-States
...     ...  ..            ...
32531     0  99  United-States
32532     0  60  United-States
32533     0  50          Japan
32534     0  39  United-States
32535     0  35  United-States
32536     0  55  United-States
32537     0  46  United-States
32538     0  45  United-States
32539     0  10  United-States
32540     0  40  United-States
32541     0  32  United-States
32542     0  25  United-States
32543     0  48  United-States
32544     0  30  United-States
32545     0  20  United-States
32546     0  40  United-States
32547     0  40         Mexico
32548     0  60  United-States
32549     0  40  United-States
32550     0  50  United-States
32551     0  40  United-States
32552     0  45  United-States
32553     0  11         Taiwan
32554     0  40  United-States
32555     0  40  United-States
32556     0  38  United-States
32557     0  40  United-States
32558     0  40  United-States
32559     0  20  United-States
32560     0  40  United-States

[32561 rows x 14 columns]

Learning Target
          14
0      <=50K
1      <=50K
2      <=50K
3      <=50K
4      <=50K
5      <=50K
6      <=50K
7       >50K
8       >50K
9       >50K
10      >50K
11      >50K
12     <=50K
13     <=50K
14      >50K
15     <=50K
16     <=50K
17     <=50K
18     <=50K
19      >50K
20      >50K
21     <=50K
22     <=50K
23     <=50K
24     <=50K
25      >50K
26     <=50K
27      >50K
28     <=50K
29     <=50K
...      ...
32531  <=50K
32532   >50K
32533   >50K
32534  <=50K
32535  <=50K
32536   >50K
32537  <=50K
32538   >50K
32539   >50K
32540  <=50K
32541  <=50K
32542  <=50K
32543  <=50K
32544  <=50K
32545   >50K
32546  <=50K
32547  <=50K
32548  <=50K
32549  <=50K
32550  <=50K
32551  <=50K
32552  <=50K
32553  <=50K
32554   >50K
32555  <=50K
32556  <=50K
32557   >50K
32558  <=50K
32559  <=50K
32560   >50K

[32561 rows x 1 columns]

Test Data
       0                 1       2             3   4                   5   \
0      25           Private  226802          11th   7       Never-married
1      38           Private   89814       HS-grad   9  Married-civ-spouse
2      28         Local-gov  336951    Assoc-acdm  12  Married-civ-spouse
3      44           Private  160323  Some-college  10  Married-civ-spouse
4      18               NaN  103497  Some-college  10       Never-married
5      34           Private  198693          10th   6       Never-married
6      29               NaN  227026       HS-grad   9       Never-married
7      63  Self-emp-not-inc  104626   Prof-school  15  Married-civ-spouse
8      24           Private  369667  Some-college  10       Never-married
9      55           Private  104996       7th-8th   4  Married-civ-spouse
10     65           Private  184454       HS-grad   9  Married-civ-spouse
11     36       Federal-gov  212465     Bachelors  13  Married-civ-spouse
12     26           Private   82091       HS-grad   9       Never-married
13     58               NaN  299831       HS-grad   9  Married-civ-spouse
14     48           Private  279724       HS-grad   9  Married-civ-spouse
15     43           Private  346189       Masters  14  Married-civ-spouse
16     20         State-gov  444554  Some-college  10       Never-married
17     43           Private  128354       HS-grad   9  Married-civ-spouse
18     37           Private   60548       HS-grad   9             Widowed
19     40           Private   85019     Doctorate  16  Married-civ-spouse
20     34           Private  107914     Bachelors  13  Married-civ-spouse
21     34           Private  238588  Some-college  10       Never-married
22     72               NaN  132015       7th-8th   4            Divorced
23     25           Private  220931     Bachelors  13       Never-married
24     25           Private  205947     Bachelors  13  Married-civ-spouse
25     45  Self-emp-not-inc  432824       HS-grad   9  Married-civ-spouse
26     22           Private  236427       HS-grad   9       Never-married
27     23           Private  134446       HS-grad   9           Separated
28     54           Private   99516       HS-grad   9  Married-civ-spouse
29     32  Self-emp-not-inc  109282  Some-college  10       Never-married
...    ..               ...     ...           ...  ..                 ...
16251  81               NaN   26711     Assoc-voc  11  Married-civ-spouse
16252  60           Private  117909     Assoc-voc  11  Married-civ-spouse
16253  39           Private  229647     Bachelors  13       Never-married
16254  38           Private  149347       Masters  14  Married-civ-spouse
16255  43         Local-gov   23157       Masters  14  Married-civ-spouse
16256  23           Private   93977       HS-grad   9       Never-married
16257  73      Self-emp-inc  159691  Some-college  10            Divorced
16258  35           Private  176967  Some-college  10  Married-civ-spouse
16259  66           Private  344436       HS-grad   9             Widowed
16260  27           Private  430340  Some-college  10       Never-married
16261  40           Private  202168   Prof-school  15  Married-civ-spouse
16262  51           Private   82720       HS-grad   9  Married-civ-spouse
16263  22           Private  269623  Some-college  10       Never-married
16264  64  Self-emp-not-inc  136405       HS-grad   9             Widowed
16265  50         Local-gov  139347       Masters  14  Married-civ-spouse
16266  55           Private  224655       HS-grad   9           Separated
16267  38           Private  247547     Assoc-voc  11       Never-married
16268  58           Private  292710    Assoc-acdm  12            Divorced
16269  32           Private  173449       HS-grad   9  Married-civ-spouse
16270  48           Private  285570       HS-grad   9  Married-civ-spouse
16271  61           Private   89686       HS-grad   9  Married-civ-spouse
16272  31           Private  440129       HS-grad   9  Married-civ-spouse
16273  25           Private  350977       HS-grad   9       Never-married
16274  48         Local-gov  349230       Masters  14            Divorced
16275  33           Private  245211     Bachelors  13       Never-married
16276  39           Private  215419     Bachelors  13            Divorced
16277  64               NaN  321403       HS-grad   9             Widowed
16278  38           Private  374983     Bachelors  13  Married-civ-spouse
16279  44           Private   83891     Bachelors  13            Divorced
16280  35      Self-emp-inc  182148     Bachelors  13  Married-civ-spouse

                      6               7                   8       9      10  \
0      Machine-op-inspct       Own-child               Black    Male      0
1        Farming-fishing         Husband               White    Male      0
2        Protective-serv         Husband               White    Male      0
3      Machine-op-inspct         Husband               Black    Male   7688
4                    NaN       Own-child               White  Female      0
5          Other-service   Not-in-family               White    Male      0
6                    NaN       Unmarried               Black    Male      0
7         Prof-specialty         Husband               White    Male   3103
8          Other-service       Unmarried               White  Female      0
9           Craft-repair         Husband               White    Male      0
10     Machine-op-inspct         Husband               White    Male   6418
11          Adm-clerical         Husband               White    Male      0
12          Adm-clerical   Not-in-family               White  Female      0
13                   NaN         Husband               White    Male      0
14     Machine-op-inspct         Husband               White    Male   3103
15       Exec-managerial         Husband               White    Male      0
16         Other-service       Own-child               White    Male      0
17          Adm-clerical            Wife               White  Female      0
18     Machine-op-inspct       Unmarried               White  Female      0
19        Prof-specialty         Husband  Asian-Pac-Islander    Male      0
20          Tech-support         Husband               White    Male      0
21         Other-service       Own-child               Black  Female      0
22                   NaN   Not-in-family               White  Female      0
23        Prof-specialty   Not-in-family               White    Male      0
24        Prof-specialty         Husband               White    Male      0
25          Craft-repair         Husband               White    Male   7298
26          Adm-clerical       Own-child               White    Male      0
27     Machine-op-inspct       Unmarried               Black    Male      0
28          Craft-repair         Husband               White    Male      0
29        Prof-specialty   Not-in-family               White    Male      0
...                  ...             ...                 ...     ...    ...
16251                NaN         Husband               White    Male   2936
16252     Prof-specialty         Husband               White    Male   7688
16253       Tech-support   Not-in-family               White  Female      0
16254     Prof-specialty         Husband               White    Male      0
16255    Exec-managerial         Husband               White    Male      0
16256  Machine-op-inspct       Own-child               White    Male      0
16257    Exec-managerial   Not-in-family               White  Female      0
16258    Protective-serv         Husband               White    Male      0

#Learning (Supervised Learning)
#Learning Algorithm:
#Naive Bayes : sklearn.naive_bayes.GaussianNB, sklearn.naive_bayes.MultinomialNB, sklearn.naive_bayes.BernoulliNB
#KNN : sklearn.neighbors.NearestNeighbors
#ANN : sklearn.neural_network.MLPClassifier
#DTL : sklearn.tree.DecisionTreeClassifier

## Import Library

In [ ]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.model_selection import train_test_split, cross_val_predict, KFold
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

# 1. Naive Bayes Learning

In [22]:
#Naive Bayes Learning
gnb = GaussianNB()
mnb = MultinomialNB()
bnb = BernoulliNB()

#Gaussian Naive Bayes
kf_gnb = KFold(n_splits=10)
for train in kf_gnb.split(cencus_income_learning_data):
    gnb.fit(cencus_income_learning_data[train],cencus_income_learning_target[train])
expected = cencus_income_learning_target
predictions = gnb.predict(cencus_income_learning_data)
print("Confusion Matrix\n")
print(confusion_matrix(expected, predictions))
print("\nClassification Report\n")
print(classification_report(expected,predictions,target_names=class_names))
print("\nAccuracy Score\n")
print(accuracy_score(expected,predictions))
print("Done!")

IndexError: shape mismatch: indexing arrays could not be broadcast together with shapes (29304,) (3257,)

# 2. K-Nearest Neighbours

# 3. MLP

# 4. Decision Tree Learning